.relative {
  position: relative;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex_center {
  justify-content: center;
  align-items: center;
  height:100vh;
}

.flex_align_center {
  align-items: center;
}

.flex_gap {
  gap: 0.5rem;
}

.flex_grow > *{
  flex-grow: 1;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_between {
  justify-content: space-between;
}

.flex_evenly {
  justify-content: space-evenly;
}

/* Log In Page Styles */

.form_margin > * {
  margin-bottom: 1rem;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_group > label {
  font-weight: 600;
  line-height: 1.5rem;
}

.form_button_group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form_button {
  color: rgb(19, 19, 19);
  background: #58C3FF;
  padding: 1rem;
  border-radius: 5px;
}

.form_button:hover {
  background: #32b4ff;
  box-shadow: 0 0 4px 4px rgb(145, 242, 255);
}

.dashboard {
  /* background-color: rgb(236, 236, 236); */
}

.dashboard_content_wrapper {
  display: flex;
    background-color: rgb(236, 236, 236);

}

.dashboard_nav {
  background: white;
  min-height: 100vh;
  /* border: solid 2px black; */
  border-radius: 3px;
  min-width: 200px;
  text-align: center;
  padding: 1rem 0;
}

.dashboard_nav > * {
  margin: 0 0 1rem;
  padding: 0 1rem;
  text-align: left;
}

.dashboard_content {
  width: min(100%, 1000px);
  /* margin: 0 auto; */
  padding: 0 0rem;
}

.card {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.sm_scr_nav {
  display: none;
}

.dashboard_image_container {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
}

/* Dashboard Navigation Styles */

@media screen and (max-width: 650px) {
  .dashboard {
    background: white;
  }

  .dashboard_nav {
    display: none;  
  }

  .sm_scr_nav {
    display: block;
  }
}

.primary_nav {
  padding: 1rem;
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  background-color: #58C3FF;
  color: white;
}

/* Flag Index Styles */

.flag_calendar_grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* Create Flags Styles */

.create_flags_container {
  padding: 0 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.create_flags_interface {
  min-height: 100vh;
  /* border: solid 2px black; */
  border-radius: 3px;
  min-width: 200px;
  flex-grow: 1;
  background-color: white;
  padding: 1rem;
}

.choose_questions_interface {
  min-height: 100vh;
  padding: 1rem;
  /* border: solid 2px black; */
  border-radius: 3px;
  min-width: 200px;
  width: 400px;
  background-color: white;
}

.create_flags_bar {
  gap: 1rem;
  justify-content: center;
}

.create_flags_button {
  border: none;
  background-color: #58C3FF;
  color: white;
  border-radius: 10px;
  width: 100px;
}

.create_flags_button:hover {
  background-color: #3ab7ff;
  cursor: pointer;

}

.create_flag_question_modal {
  min-width:70%;
  min-height:50%;
}

.flag_question_modal_half {
  width: 50%;
}

.existing_questions_level:hover {
  background-color: rgb(179, 179, 179);
  cursor: pointer;
}

/* Play Flags Styles */

.flags_navbar {
  position: fixed;
  width: 100vw;
  background: #58C3FF;
  display: flex;
  justify-content: right;
  padding: 1rem;
  opacity: 0;
  transition: 1s;
}

.flags_navbar:hover {
  opacity: 100;
  transition: 1s;
}

.flags {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(5, 18%);
  gap: 1rem;
  min-height: 100vh;
  width:100%;
}

.flag_image_container {
  position: relative;
  max-width:600px;
  aspect-ratio: 4 / 3;
}

.flag_country_name {
  text-align: center;
  font-size: clamp(1rem, 3vw, 5.5rem);
  font-family: 'Poppins', 'sans-serif';
  margin: 0.5rem 0;
}

.selected_flag_modal {
  /* padding: 0; */
  border: none;
  width: 60%;
  min-height: 50%;
  background-color: rgb(247, 247, 247);
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 30px -5px rgb(122, 122, 122);
}

.selected_flag_image_container {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  max-height: 700px;
}

.selected_flag_container::backdrop {
  background: rgba(68, 211, 255, 0.212);
}